@font-face {
  font-family: 'iconfont-ali'; /* Project id 3781361 */
  src: url('//at.alicdn.com/t/c/font_3781361_ltdgcvt4gb.woff2?t=1669046801379') format('woff2'),
    url('//at.alicdn.com/t/c/font_3781361_ltdgcvt4gb.woff?t=1669046801379') format('woff'),
    url('//at.alicdn.com/t/c/font_3781361_ltdgcvt4gb.ttf?t=1669046801379') format('truetype');
}

.iconfont-ali {
  font-family: 'iconfont-ali' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.a-icon-yifu:before {
  content: '\e666';
}

.a-icon-close2:before {
  content: '\e6dd';
}

.a-icon-zuidahua-1:before {
  content: '\e65d';
}

.a-icon-add:before {
  content: '\e6df';
}

.a-icon-zuixiaohua-2:before {
  content: '\e69a';
}

.a-icon-zuidahua-3:before {
  content: '\e692';
}

.a-icon-ic_music:before {
  content: '\e6bf';
}
