@font-face {
  font-family: 'iconfont-ali'; /* Project id 3781361 */
  src: url('//at.alicdn.com/t/c/font_3781361_70c8q9lk3db.woff2?t=1669035060968') format('woff2'),
    url('//at.alicdn.com/t/c/font_3781361_70c8q9lk3db.woff?t=1669035060968') format('woff'),
    url('//at.alicdn.com/t/c/font_3781361_70c8q9lk3db.ttf?t=1669035060968') format('truetype');
}

.iconfont-ali {
  font-family: 'iconfont-ali' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.a-icon-gerentouxiang:before {
  content: '\eb24';
}

.a-icon-add:before {
  content: '\e6df';
}

.a-icon-2zuixiaohua-2:before {
  content: '\e65a';
}

.a-icon-3zuidahua-3:before {
  content: '\e692';
}

.a-icon-a-icon_fullscreen:before {
  content: '\e629';
}

.a-icon-icon_close:before {
  content: '\e62a';
}

.a-icon-icon_minimize:before {
  content: '\e62b';
}

.a-icon-ic_music:before {
  content: '\e6bf';
}
